@use "src/styles/colors";

.ProductList {
    input {
        display: block;
        width: 50%;
        margin: 20px auto;
        padding: 10px 20px;
        font-size: 16px;
        background-color: colors.$input-bg;
        border-radius: 20px;
        outline: none;
    }

    .table-wrapper {
        overflow: auto;
        // height of search input + margin
        // chrome 82px / ff 83px : use the highest
        height: calc(100vh - 83px);

        thead th {
            position: sticky;
            top: -1px;
            z-index: 1;
            background: colors.$lrqdo-main-bg;
        }
    }

    table {
        table-layout: fixed;
        border-spacing: 0 10px;
        border-collapse: collapse;
        width: 100%;

        th,
        td {
            text-align: left;
            padding: 10px;
            word-break: break-word;
            overflow: auto;
            min-width: 100px;
        }

        tr {
            border: 1px solid colors.$lrqdo-main-text;
            border-width: 1px 0;
        }

        .product-img {
            width: 100px;

            img {
                display: block;
                max-width: 100px;
                max-height: 100px;
                margin: auto;
            }
        }
    }
}
